<form action="decrypt" method="get" class="text-center form">
    <label for="text">Message to Decrypt</label>
    <textarea name="text" rows="10" columns="10"></textarea>
  <input type="submit" class="btn btn-primary" value="Decrypt">
</form>

<form action="encrypt" method="get" class="text-center form">
    <label for="text">Message to Encrypt</label>
    <textarea name="text" rows="10" columns="10"></textarea>
    <label for="shift">Shift Value</label>
    <input type="text" name="shift" id="shiftValue">
  <input type="submit" class="btn btn-primary" value="Encrypt">
</form>
